/*
 * GESTURE KIT Specific overwrite
 */

#visor_container {
    display: none;
}

/*body > * {
    display: table;
}*/


/*
 * SIMON GAME app
 */

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    margin: 0;
}

.simon-viewport {
    height: 500px;
    width: 100%;
    background-color: #FFF;
}

.simon-feedback,
.simon-feedback-visible {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 1.5em;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
}

[class*="simon-type"] {
    opacity: .6;
    display: block;
    float: left;
    height: 50%;
    position: relative;
    width: 50%;
    -moz-transition: background-color .4s ease;
    -webkit-transition: background-color .4s ease;
    -o-transition: background-color .4s ease;
    transition: background-color .4s ease;
}

[class*="simon-type"]:after {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}

[class*="simon-type"].simon-visible {
    opacity: 1;
}

[class*="simon-type"].simon-visible:after {
    opacity: 1;
}

.simon-type-green {
    background-color: #2ecc71;
    /*border-radius: 50% 0 0 0;*/
}

.simon-type-green.simon-visible {
    background-color: #2ecc71;
}

.simon-type-green:after {
    background-image: url('../assets/gk_green.svg');
}

.simon-type-red {
    background-color: #e74c3c;
    /*border-radius: 0 50% 0 0;*/
}

.simon-type-red.simon-visible {
    background-color: #e74c3c;
}

.simon-type-red:after {
    background-image: url('../assets/gk_red.svg');
}

.simon-type-yellow {
    background-color: #f1c40f;
    /*border-radius: 0  0 0 50%;*/
}

.simon-type-yellow.simon-visible {
    background-color: #f1c40f;
}

.simon-type-yellow:after {
    background-image: url('../assets/gk_yellow.svg');
}

.simon-type-blue {
    background-color: #3498db;
    /*border-radius: 0  0 50% 0;*/
}

.simon-type-blue.simon-visible {
    background-color: #3498db;
}

.simon-type-blue:after {
    background-image: url('../assets/gk_blue.svg');
}